# Python files
__pycache__/
*.py[cod]
*$py.class
*.pic

# Virtual enviroment
venv/
.env/
.venv/
.env

# Pycharm
.idea/
.idea/inspectionProfiles/
.idea
*.iml

# pytest
.pytest_cache/
.coverage
htmlcov/

# wrapper
build/
dist/
*.egg-info

# Logs
*.log/
logs/*.log

# Files
data/
*.csv

# VSCode
.vscode